// Variables
$website-width: 1280px;
$main-color: #a1a3a6;
$light-color: #f4f4f4;
$red-color: #dc3545;
$blue-color: #307bff;

// Set Text Color
@function set-text-color($color) {
  @if(lightness($color) > 50) {
    @return #000;
  }

  @else {
    @return #fff;
  }
}

.container {
  max-width: $website-width;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
}

.text-center {
  text-align: center;
}

// Backgrounds
.bg-red {
  background: $red-color;
  color: #fff;
}

.bg-blue {
  background: $blue-color;
  color: #fff;
}

// Buttons
%btn--shared {
  display: inline-block;
  padding: 0.8rem 3rem;
  transition: all 0.5s;
  font-size: 1.3rem;
  cursor: pointer;
}

.btn {
  &-main {
    @extend %btn--shared;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
  }

  &-outline {
    @extend %btn--shared;
    border: 1px solid red;
    border-radius: 5px;
    color: red;
  }

  &-secondary {
    border: none;
    border-radius: 5px;
    background: #307afe;
    color: #fff;
    padding: .2rem 2rem;
    font-size: 1rem;
  }
}